body {
    padding: 0;
    margin: 0;
}
header{
    background-color: #e7a83e;
    height: 70px;
}
main{}
footer{}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.wrapper{
    width: 70%;
    margin: 0 auto;
}
.header__logo{
    float: left;
}
.header__logo img{
    width: 100px;
    height: 65px;
}
.header__menu{
    float: right;
}
.menu-list{
    list-style: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 20px;
}
.menu-list-item{
    display: inline-block;
    margin-right: 10px;
}
